.faq-section {
    margin-top: 100px;
    height: fit-content;
}

.faq-section-content {
    display: flex;
    justify-content: space-between;
    
}

.faq-content {
    width: 828px;
}

.faq-content-header {
    margin-bottom: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #212529;
}

.faq-content-header span {
    color: #00730C;
}

.faq-content-text {
    margin-bottom: 42px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
}

.faq-list-content {
    position: relative;
    display: block;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #FFF8F1;
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #212529;
    cursor: pointer;
}

.faq-list-content-btn {
    width: 28px;
    height: 28px;
    background-color: #FFF8F1;
    border: none;
    outline: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #212529;
}

.sub-faq-list {
    display: none;
}

.sub-faq-list.active {
    display: block;
}


.faq-list-content.active {
    background: #FFF8F1;
    background: #00730C;
    color: white;
}

.faq-list-content.active .faq-list-content-btn {
    background: #FFF8F1;
    background: #00730C;
    color: white;
}

.faq-menu li.active .faq-list-content-btn {
    background-color: #00730C;
}

.faq-content li+li {
    margin-top: 30px;
}

.hiden-faq-content-text {
    padding: 20px 30px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #676767;
}


.faq-list-content-img {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./faq/images/plus.svg");
    background-size:cover;
}

.faq-list-content-img.active {
    background-image: url("./faq/images/x.svg");
}

.faq-section-img {
    margin-top: 52px;

}