.faq-section {
  margin-top: 200px;
  height: fit-content;
}

.faq-section-img {
  display: none;
}

.faq-content {
  width: 100%;
}

.faq-content-header {
  margin: 0 auto 15px;
  width: 220px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

.faq-content-text {
  font-size: 14px;
  line-height: 22px;
}

.faq-list-content {
  width: 100%;
  height: 44px;
  font-size: 14px;
  line-height: 19px;
  padding: 0 15px;
}

.sub-faq-list {
  width: 313px;
}

.hiden-faq-content-text {
}
