.header {
  width: 100%;
  height: 145px;
}

.top-header {
  width: 100%;
  height: 60px;
  background-color: rgba(12, 75, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  .contacts-and-langauge {
    width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-contacts {
    width: 745px;
    height: 25px;
  }

  .contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    li {
      display: flex;
      align-items: center;
      height: 25px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      color: #ffffff;
    }
  }

  .email-header,
  .phone-header,
  .location-header {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  select {
    width: fit-content;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    background-color: rgba(12, 75, 53, 1);
    border: none;
    outline: none;
  }
}

.bottom-header {
  width: 100%;
  height: 85px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-and-nav {
    width: 1420px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-logo {
    width: 120px;
    height: 55px;
  }

  .nav-and-contact-btn {
    display: flex;
    align-items: center;
  }
  .nav-list {
    width: 630px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .nav-list-item {
      width: fit-content;
      height: 20px;
      display: flex;
      align-items: center;
    }

    .nav-list-item-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: capitalize;
      color: #212529;
    }

    .nav-list-icon {
      margin: auto 0 auto 5px;
    }
  }

  .call-btn {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 115, 12, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    border: none;
    border-radius: 5px;

    .call-btn-img {
      margin-right: 10px;
    }
  }
}

.nav-button-img {
  width: 30px;
  height: 30px;
}

.nav-button {
  width: 30px;
  height: 30px;
  margin-left: 40px;
  padding: 0;
  border: none;
  outline: none;
  background-color: white;
  display: none;
}

.nav-button:active {
  border: 1px solid white;
  border-radius: 5px;
}

.mobile-nav-menu,
.nav-button-mobile {
  display: none;
}

.sub-nav-list {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgba(12, 75, 53, 1);
  border-radius: 0 20px;
  padding: 15px;
  top: 98%;
}

.nav-list-item:hover .sub-nav-list {
  display: block;
}

.bottom-header .nav-list .nav-list-item-link:hover {
  color: #00730c;
}

.sub-nav-list li {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
  
}

.sub-nav-list li:hover {
  opacity: 1;
}


.sub-nav-list li + li {
  margin-top: 10px;
}
